* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #000;
  background-color: #fff;
  height: 100vh;
  position: relative;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
}

.btn-solid-blue {
  padding: 9px 25px;
  background-color: rgb(41, 101, 212);
  color: white;
  border-radius: 5px;
}

.bar {
  width: 100%;
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  font-size: 0.8rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#navbar ul li {
  margin-right: 20px;
  color: black;
}

#navbar ul li a {
  color: black;
}

#navbar ul li a.btn-solid-blue {
  color: white;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800x;
}

#main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#main-content > * {
  margin-bottom: 40px;
}

#main-content form #search-input {
  display: block;
  background: #fafafa;
  width: 500px;
  height: 40px;
  border: 1px #ddd solid;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
}

#main-content form #search-input:focus {
  outline: none;
}

#main-content form #search-input:hover {
  box-shadow: 1px 1px 1px 1px #bbb;
}

#main-content form .search-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main-content form .search-btn {
  margin: 0 15px;
  background: #f8f8f8;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
}

#main-content #language {
  display: flex;
  justify-content: center;
}

#main-content #language a {
  color: rgb(41, 101, 212);
}

#footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 1.1rem;
}

#footer h5,
#footer a {
  color: gray;
}

#footer #other-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#footer #left-content {
  display: flex;
}

#footer #right-content {
  display: flex;
}

#footer #left-content h5,
#footer #right-content h5 {
  padding: 0 10px;
}
