:root {
  --google-font-color: #70757a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  color: var(--google-font-color);
  background-color: #fff;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

svg.icon-xs {
  display: block;
  height: 15px;
}

svg.icon-s {
  display: block;
  height: 20px;
}

svg.icon-m {
  display: block;
  height: 25px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-f {
  opacity: 1;
}

.text-p9 {
  font-size: 0.9rem;
}

.text-medium {
  font-size: 0.9rem;
  font-weight: 200;
}

.text-bold {
  font-weight: bold;
}

.btn {
  display: inline-block;
}

.btn-solid-blue {
  display: inline-block;
  padding: 9px 25px;
  background-color: rgb(41, 101, 212);
  color: white;
  border-radius: 5px;
}

.bar {
  width: 100%;
  background: #f3f3f3;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

#body-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#body-container.width1300 {
  min-width: 1300px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  flex-basis: 60px;
  flex-shrink: 1;
  padding-right: 30px;
}

#navbar-ul {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  height: 100%;
}

#navbar-ul li {
  margin-right: 20px;
}

#navbar-ul li:last-child {
  margin-right: unset;
}

#navbar-ul li a.navbar-btns {
  color: #000;
  height: 25px;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main #main-image-container {
  margin-bottom: 30px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#main-content > * {
  margin-bottom: 40px;
}

#main-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-input {
  display: flex;
  align-items: center;
  border: 1px #ddd solid;
  border-radius: 20px;
  padding: 0 15px;
  width: 60%;
  max-width: 600px;
}

#search-input a {
  display: inline-block;
}

#search-input input {
  display: block;
  background: #fff;
  width: 100%;
  padding: 12px;
  border: none;
}

#search-input input:focus {
  outline: none;
}

#search-input:hover {
  box-shadow: 1px 1px 1px 1px #bbb;
}

#main-content form .search-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#main-content form .search-btn {
  margin: 0 15px;
  background: #f8f8f8;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

#main-content #main-language-offered-text a {
  color: rgb(41, 101, 212);
}

/* Search Page */
.header {
  flex-basis: 100px;
  padding: 30px 30px 0 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-top .header-top-left {
  display: flex;
  flex: 1;
}

.header-top .header-top-left .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.header-top .header-top-left .logo a {
  display: block;
  width: 95px;
}

.header-top .header-top-left .logo a img {
  max-width: 100%;
  display: block;
}

.header-top .header-top-left form {
  width: 100%;
}

#search-input.search-page {
  max-width: 700px;
}

#search-input.search-page .line {
  height: 25px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

#search-input.search-page a .search-icon {
  padding: 0 8px;
  fill: rgb(41, 101, 212);
}

.header-top .header-top-right {
  display: flex;
  height: 100%;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 135px;
}

.header-bottom-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom-left-start {
  display: flex;
  margin-right: 100px;
}

.header-bottom-left-start .search-option {
  display: flex;
  align-items: center;
  padding: 10px;
}

.header-bottom-left-start .search-option svg {
  margin-right: 5px;
}

.header-bottom-left-start .search-option.current {
  border-bottom: 2px solid blue;
}

.header-bottom-left-end {
  display: flex;
}

.header-bottom-left-end .text-medium {
  padding: 0 10px;
}

.main-result {
  display: flex;
  flex: 1;
  margin-left: 170px;
}

.main-result-left {
  flex: 0.8;
}

.main-result-left .result-time {
  padding-top: 15px;
}

.main-result-left .search-result {
  padding: 20px 0;
}

.main-result-left .search-result .result-url {
  color: #000;
}

.main-result-left .search-result .result-header {
  font-size: 1.3rem;
  padding: 8px 0;
}

.main-result-left .search-result .result-paragraph {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.main-result-left .search-result .result-links {
  font-size: 0.9rem;
}

.main-result-left .search-sugguestions {
  padding: 15px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 3px;
}

.main-result-left .search-sugguestions .search-suggestions-container {
  padding-top: 10px;
}

.main-result-left .search-sugguestions .search-suggestions-container .column {
  display: inline-block;
}

.main-result-left
  .search-sugguestions
  .search-suggestions-container
  .column
  > div {
  padding: 5px;
}

.main-result-left .search-questions {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100;
  margin: 15px 0;
}

.main-result-left .search-questions .questions-header {
  font-size: 1.2rem;
  padding: 7px 0;
}

.main-result-left .search-questions .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
  border-top: 1px rgba(0, 0, 0, 0.1) solid;
}

.main-result-left .search-questions .feedback {
  display: flex;
  align-items: center;
}

.main-result-left .search-questions .feedback .line {
  flex: 1;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-result-left .search-questions .feedback .feedback-text a {
  display: block;
  font-size: 0.8rem;
  padding-left: 15px;
  color: var(--google-font-color);
}

.main-result-left .search-related .related-header {
  font-size: 1.3rem;
  padding: 7px 0;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}

.main-result-left .search-related .related-search-container {
  display: flex;
  align-items: stretch;
}

.main-result-left .search-related .related-search-container .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 30px;
}

.main-result-left
  .search-related
  .related-search-container
  .related-search-option {
  display: flex;
  flex: 1;
  background-color: #f1f3f4;
  padding: 5px 10px 5px 0px;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.main-result-left
  .search-related
  .related-search-container
  .related-search-option
  .icon-container {
  padding: 5px 30px;
}

.main-result-left
  .search-related
  .related-search-container
  .related-search-option
  a {
  color: rgba(0, 0, 0, 0.9);
}

.main-result-right {
  flex: 1;
}

#footer {
  width: 100%;
}

#footer a {
  color: var(--google-font-color);
}

#footer #other-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.8;
  padding: 10px 20px;
}

#footer #left-content {
  display: flex;
}

#footer #right-content {
  display: flex;
}

#footer #left-content .text-medium,
#footer #right-content .text-medium {
  padding: 0 10px;
}
